/*Note to examiner: 
extreamly sorry for making you go through such messy CSS codes. This whole page looks like a torture cell, even to me! :(  */

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0%;  
}

.FS_FLEX{
    display: flex;
}

/* Fisrt Section Design */
h1{
    font-size: 40px;
    color: #575757;
}
div img{
    width: 50%;
   padding-top: 10%;
    margin-left: 20%;
    border-radius: 20%;
    padding-bottom: 10%;
    
}
.text-dev{
   
        width: 50%;
        padding-left: 10%;
        margin-right: 5%;
        padding-bottom: 5%;
        text-align: justify;

}
.orange-text{
  color: orange;
}

/*First section background*/
.first-section{
    background-repeat: no-repeat;
    background: rgba(220, 255, 221, 0.3)    
}

/* Link Button Design */
.link-button{
    text-decoration: none;
    color: white;
    
    background-image: linear-gradient(red, orange);
    padding: 10px 40px;
    margin-top: 15%;
    font-weight: 700;
    border-radius: 20px;
    box-shadow: orangered;
    box-shadow: 10px 2px 30px orange;
    margin-bottom: 5%;
    
}
/* Background of second section */
.second-section{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;

}
/* Third section */
.third-sect-item-wrtup{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;
    font-size: 14px;
    margin-left: 100px;
    margin-right: 100px;
}


/* Menu list */
.menu{
    font-size: 12px;
    width: auto;
    margin-left: 3%;
    margin-right: 3%;
    padding: 30px;
    box-shadow: 10px 10px 40px grey;
    padding-bottom: 2%;
    border-radius: 10%;

   
}
#menu-frst-itm{
    margin-left: 10%;
}
#menu-thrd-itm{
    margin-right: 10%;
}
.menu-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    margin-bottom: -30px;
    height: 256px;
    width: 256px;
    border-radius: 15%;
    
}

.forth-section-writeup {
    font-size: 12px;
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    padding: 50%
    box-shadow: 10px 10px 40px grey;
}

/* last menu */
.menu2{
    font-size: 12px;

    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    box-shadow: 10px 10px 40px grey;
    padding-bottom: 2%;

}
.menu3{
    padding-right: 20%;
    padding-left: 10%;
 } 

 footer{
    font-size: 12px;

    width: auto;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 5%;
    
    padding: 10px;
    padding-bottom: 50px;
    background-color: black;
    padding-bottom: 2%
    text-align: justify;
    text-align: Center;
 }

 footer p{
     color: blanchedalmond;
 }
/* Review picture */
#review-img{
    width: 50%;
    height: 50%;
}

 header{
    background-color: #333;
    overflow: hidden;
 }

 /* Header */
#header-link-text{

    
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
a:hover {
    background-color: rgb(88, 83, 83);
  }
